@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: FellixSemibold;
    font-weight: semibold;
    src: url("./assets/fonts/Fellix-SemiBold.woff2") format("woff2");
}

@font-face {
    font-family: FellixRegular;
    font-weight: regular;
    src: url("./assets/fonts/Fellix-Regular.woff2") format("woff2");
}

@font-face {
    font-family: FellixMedium;
    font-weight: medium;
    src: url("./assets/fonts/Fellix-Medium.woff2") format("woff2");
}

:root {
    --blue: #4556eb;
    --gray: #f3f4f6;
    --green: #34AF42;
}

p {
    font-family: "FellixRegular", sans-serif;
    line-height: 1.3;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "FellixSemibold", sans-serif;
    line-height: 1.3;
}

a {
    color: var(--blue) !important;
    font-family: "FellixMedium", sans-serif;
}
.ai {
    position: absolute;
    right: -220px;
}
.ai-btn {
    width: 38px;
    height: 38px;
    border: 2px solid var(--blue);
    border-radius: 5px;
}
.ai-btn.active,
.ai-btn:hover {
    background-color: var(--blue);
    cursor: pointer;
}
.ai-btn.active img,
.ai-btn:hover img {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(224deg) brightness(120%) contrast(105%);
}
.audio-box {
    position: relative;
    width: 120%;
    margin-left: -10%;
}
.blue {
    color: var(--blue);
}
.green {
    color: var(--green);
}
.arrow {
    cursor: pointer;
    position: absolute;
    right: -100px;
}
.chap {
    font-size: 16pt;
    font-weight: bold;
    color: black !important;
    width: 40px;
    height: 33px;
    position: absolute;
    border-radius: 5px;
    z-index: 100;
    text-align: center;
    margin-top: -33px;
}
.chap-active {
    font-size: 16pt;
    font-weight: bold;
    color: var(--blue) !important;
    width: 40px;
    height: 33px;
    position: absolute;
    border-radius: 5px;
    z-index: 100;
    text-align: center;
    margin-top: -33px;
}
.chap-active-green {
    font-size: 16pt;
    font-weight: bold;
    color: var(--green) !important;
    width: 40px;
    height: 33px;
    position: absolute;
    border-radius: 5px;
    z-index: 100;
    text-align: center;
    margin-top: -33px;
}
.chapters-name {
    position: absolute;
    margin-top: -70px;
}
.zero-chap {
    margin-left: -15px;
}
.first-chap {
    margin-left: 85px;
}
.second-chap {
    margin-left: 185px;
}
.third-chap {
    margin-left: 285px;
}
.fourth-chap {
    margin-left: 385px;
}
.fifth-chap {
    margin-left: 485px;
}
.sixth-chap {
    margin-left: 585px;
}
.seventh-chap {
    margin-left: 685px;
}
.circled-chap-0 {
    position: absolute;
    margin-top: -37px;
    margin-left: -15px;
}
.circled-chap-1 {
    position: absolute;
    margin-top: -37px;
    margin-left: 85px;
}
.circled-chap-2 {
    position: absolute;
    margin-top: -37px;
    margin-left: 185px;
}
.circled-chap-3 {
    position: absolute;
    margin-top: -37px;
    margin-left: 285px;
}
.circled-chap-4 {
    position: absolute;
    margin-top: -37px;
    margin-left: 385px;
}
.circled-chap-5 {
    position: absolute;
    margin-top: -37px;
    margin-left: 485px;
}
.circled-chap-6 {
    position: absolute;
    margin-top: -37px;
    margin-left: 585px;
}
.circled-chap-7 {
    position: absolute;
    margin-top: -37px;
    margin-left: 685px;
}
.btn-primary {
    background-color: var(--blue);
    font-family: "FellixSemibold", sans-serif;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    cursor: pointer;
    border-radius: 30px;
    font-size: 1.2em;
}
.btn-primary:hover {
    padding-top: 15px;
    padding-bottom: 15px;
}
.btn-primary-large {
    background-color: var(--blue);
    color: white;
    font-family: "FellixSemibold", sans-serif;
    font-size: 1.5em;
    padding: 10px 30px 10px 30px;
    border: none;
    cursor: pointer;
    border-radius: 30px;
    transition: 0.1s ease-in all;
}
.btn-primary-large-green {
    background-color: var(--green);
    color: white;
    font-family: "FellixSemibold", sans-serif;
    font-size: 1.5em;
    padding: 10px 30px 10px 30px;
    border: none;
    cursor: pointer;
    border-radius: 30px;
    transition: 0.1s ease-in all;
}
.btn-primary-large:hover, .btn-primary-large-green:hover {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 35px;
    padding-right: 35px;
}
.circled {
    width: 40px;
    height: 40px;
    display: inline-block;
    border-radius: 50%;
    border: 2px solid;
    padding-top: 2px;
    font-size: 20px;
}
.circled:before,
.circled:after {
    content: "\200B";
    display: inline-block;
    line-height: 0px;
    padding-top: 50%;
    padding-bottom: 50%;
}

.circled:before {
    padding-left: 12px;
}

.circled:after {
    padding-right: 12px;
}
.footer-item-hover {
    display: none;
    position: absolute;
    margin-top: -110px;
    /* width: 230px; */
    height: 60px;
    background-color: var(--blue);
    border-radius: 5px;
    color: white;
    padding: 10px 13px;
    font-size: 10pt;
}
.first-footer-item-hover {
    margin-left: 150px;
}
.seventh-footer-item-hover {
    margin-left: 750px;
}
.footer-wrapper {

    min-width: 500px;
    max-width: 700px;
}
.heading-image {
    z-index: 1;
    position: absolute;
    top: 30px;
    right: -20px;
    /* filter: invert(22%) sepia(61%) saturate(2732%) hue-rotate(227deg) brightness(111%) contrast(98%); */
}
.heading-image img {
    width: 100%; 
}
.pike {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1) rotate(-15deg);
}
.hover-box {
    position: absolute;
    right: 0px;
    max-width: 320px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 15px;
    background-color: white;
}
.image-box {
    position: relative;
    z-index: -1;
    width: 85%;
}
.image-box-foreground {
    position: relative;
    z-index: 1;
}
.image-overlay-box {
    position: absolute;
    display: flex;
    background-color: white;
    width: 100%;
    height: 100%;
}
.image-overlay-box-image {
    height: 100%;
    width: auto;
}
.info-box-icon {
    position: absolute;
    right: -100px;
    margin-top: -45px;
    width: 38px;
    height: 38px;
    border: 2px solid var(--blue);
    border-radius: 5px;
    z-index: 1;
}
.info-box {
    position: absolute;
    right: -350px;
    margin-top: -55px;
    width: 300px;
    /* height: 100px; */
    background-color: white;
    padding: 10px;
    font-size: 10pt;
    z-index: 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    word-wrap: break-word;
    padding-left: 60px;

}
.intro-btn {
    position: absolute;
    top: 58%;
    left: 50%;
    transform: translate(-50%, -58%);
    -ms-transform: translate(-50%, -58%);
    background-color: var(--blue);
    color: white;
    font-family: "FellixSemibold", sans-serif;
    font-size: 1.5em;
    padding: 8px 30px 8px 30px;
    border: none;
    cursor: pointer;
    border-radius: 30px;
    transition: 0.1s ease-in all;
}
.intro-btn:hover {
    padding: 12px 35px 12px 35px;
}
.line {
    color: var(--blue);
    font-size: 1.2rem;
}
.link {
    color: var(--blue);
    cursor: help;
}
#menu-box-title {
    margin-right: 50px;
}
.menu-box {
    position: absolute;
    top: 0px;
    width: 500px;
    /* border: 1px solid black; */
    background-color: #EBEBEB;
    z-index: 10;
    padding: 30px;
}
.menu-inside-text {
    position: absolute;
    margin-top: -14px;
    margin-left: -49px;
}
.menu-items {
    margin-top: 30px;
    margin-left: 65px;
}
.menu-item {
    color: black !important;
}
.menu-item:hover {
    color: var(--blue) !important;
}
.mt-4px {
    margin-top: 4px;
}
.shadow-inner-top {
    box-shadow: inset 0px 10px 10px -10px rgba(0, 0, 0, 0.25);
}
.fellix-regular {
    font-family: "FellixRegular", sans-serif;
}
.fellix-bold {
    font-family: "FellixSemibold", sans-serif;
}
.fellix-semibold {
    font-family: "FellixSemibold", sans-serif;
}
.search-bar {
    display: inline-block;
    border-bottom: 3px solid black;
    padding-left: 25px;
    background-color: var(--gray);
}
.search-glass {
    display: inline-block;
    position: absolute;
    margin-top: 3px;
}
.stroke {
    position: relative;
    margin-left: 75px;
    width: 1000px;
    top: 27px;
    z-index: 50;
}
.trans-medium {
    font-family: "FellixMedium", sans-serif;
}
.white-svg {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(224deg) brightness(120%) contrast(105%);
}
.blue-svg {
    filter: invert(22%) sepia(61%) saturate(2732%) hue-rotate(227deg) brightness(111%) contrast(98%);
}
#play {
    cursor: pointer;
    width: 75px;
    height: 75px;
}
.player-timeline {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
}
.player-progress {
    display: flex;
    postion: relative;
    height: 15px;
    background: #a3a3a3;
    border-radius: 5px;
    margin: 0 5px;
    flex: 10;
    flex-basis: 100%;
    overflow: hidden;
}
.player-progress-filled {
    height: 15px;
    background: var(--blue);
    flex: 0;
    flex-basis: 0%;
    border-radius: 5px;
}
.green-box-nocap {
    padding: 15px 20px 15px 20px;
    border-left: 1px solid var(--green);
    border-bottom: 1px solid var(--green);
    border-right: 1px solid var(--green);
    border-radius: 5px;
    color: var(--green);
    margin-top: -5px;
}
.logo-circle {
    margin-top: -3px;
}
#logo {
    margin-left: 17px;
    padding-top: 5px;
}
.collapsed {
    height: 0px !important;
    opacity: 0;
    transition: 0.2s ease-in all;
}
.uncollapsed {
    height: 100% !important;
    opacity: 1;
    transition: 0.2s ease-in all;
}
.hint-box {
    border: 2px solid var(--green);
    padding: 15px;
    background-color: var(--gray);
    width: 300px;
    line-height: 1.2;
}
.quizz-border {
    border: 2px solid var(--blue);
    border-radius: 5px;
    padding: 15px 25px;
}
.subchapter-nr-width {
    min-width: 90px !important;
}
