@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: TransSansBold;
    font-weight: bold;
    src: url("./assets/fonts/TransSansPremium-Bold.otf") format("opentype");
}

@font-face {
    font-family: TransSansSemibold;
    font-weight: semibold;
    src: url("./assets/fonts/TransSansPremium-SemiBold.otf") format("opentype");
}

@font-face {
    font-family: TransSansMedium;
    font-weight: medium;
    src: url("./assets/fonts/TransSansPremium-Medium.otf") format("opentype");
}

:root {
    --blue: #4556eb;
    --gray: #f3f4f6;
}

a {
    color: var(--blue) !important;
    font-family: "TransSansMedium", sans-serif;
}
.ai {
    position: absolute;
    right: -220px;
}
.ai-btn {
    width: 38px;
    height: 38px;
    border: 2px solid var(--blue);
    border-radius: 5px;
}
.ai-btn.active,
.ai-btn:hover {
    background-color: var(--blue);
    cursor: pointer;
}
.ai-btn.active img,
.ai-btn:hover img {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(224deg) brightness(120%) contrast(105%);
}
.blue {
    color: var(--blue);
}
.boxed {
    font-size: 13pt;
    font-weight: bold;
    width: 40px;
    height: 33px;
    position: absolute;
    background-color: var(--gray);
    border: 2.5px solid var(--blue);
    border-radius: 5px;
    z-index: 100;
    text-align: center;
    margin-top: -33px;
}
.boxed-active {
    font-size: 13pt;
    font-weight: bold;
    width: 40px;
    height: 33px;
    position: absolute;
    background-color: var(--blue);
    color: white !important;
    border: 2.5px solid var(--blue);
    border-radius: 5px;
    z-index: 100;
    text-align: center;
    margin-top: -33px;
}
.boxed:hover {
    background-color: var(--blue);
    color: white !important;
}
.first-boxed {
    margin-left: 150px;
}
.second-boxed {
    margin-left: 250px;
}
.third-boxed {
    margin-left: 350px;
}
.fourth-boxed {
    margin-left: 450px;
}
.fifth-boxed {
    margin-left: 550px;
}
.sixth-boxed {
    margin-left: 650px;
}
.seventh-boxed {
    margin-left: 750px;
}
.eighth-boxed {
    margin-left: 850px;
}
.ninth-boxed {
    margin-left: 950px;
}
.boxed-number {
    width: 37px;
    border: 2px solid var(--blue);
    border-radius: 5px;
    color: var(--blue);
    padding: 4px 8px;
    font-size: 14px;
}
.btn-primary {
    background-color: var(--blue);
    font-family: "TransSansSemibold", sans-serif;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    cursor: pointer;
    border-radius: 30px;
    font-size: 1.2em;
}
.circled {
    width: 40px;
    height: 40px;
    display: inline-block;
    border-radius: 50%;
    border: 2px solid;
    padding-top: 2px;
    font-size: 20px;
}
.circled:before,
.circled:after {
    content: "\200B";
    display: inline-block;
    line-height: 0px;
    padding-top: 50%;
    padding-bottom: 50%;
}

.circled:before {
    padding-left: 12px;
}

.circled:after {
    padding-right: 12px;
}
.footer-item-hover {
    display: none;
    position: absolute;
    margin-top: -110px;
    /* width: 230px; */
    height: 60px;
    background-color: var(--blue);
    border-radius: 5px;
    color: white;
    padding: 10px 13px;
    font-size: 10pt;
}
.first-footer-item-hover {
    margin-left: 150px;
}
.seventh-footer-item-hover {
    margin-left: 750px;
}
.footer-wrapper {
    min-width: 800px;
    max-width: 1000px;
}
.heading-image {
    z-index: 1;
    position: absolute;
    top: 50px;
    right: -20px;
    filter: invert(22%) sepia(61%) saturate(2732%) hue-rotate(227deg) brightness(111%) contrast(98%);
}
.pike {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1) rotate(-15deg);
}
.hover-box {
    position: absolute;
    right: 0px;
    max-width: 350px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 15px;
    background-color: white;
}
.image-box {
    position: relative;
    z-index: -1;
}
.image-box-background {
    position: absolute;
    width: 115%;
    margin-left: -7.5%;
    margin-top: -3%;
}
.image-box-background-higher {
    position: absolute;
    width: 115%;
    margin-left: -7.5%;
    margin-top: -9%;
}
.image-box-foreground {
    position: relative;
    z-index: 1;
}
.image-overlay-box {
    position: absolute;
    display: flex;
    background-color: white;
    width: 100%;
    height: 100%;
}
.info-box-icon {
    position: absolute;
    right: -100px;
    margin-top: -45px;
    width: 38px;
    height: 38px;
    border: 2px solid var(--blue);
    border-radius: 5px;
    z-index: 1;
}
.info-box {
    position: absolute;
    right: -350px;
    margin-top: -55px;
    width: 300px;
    /* height: 100px; */
    background-color: white;
    padding: 10px;
    font-size: 10pt;
    z-index: 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding-left: 60px;
}
.intro-btn {
    position: absolute;
    top: 58%;
    left: 50%;
    transform: translate(-50%, -58%);
    -ms-transform: translate(-50%, -58%);
    background-color: var(--blue);
    color: white;
    font-family: "TransSansSemibold", sans-serif;
    font-size: 1.5em;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    cursor: pointer;
    border-radius: 30px;
}
.line {
    color: var(--blue);
    font-size: 1.2rem;
}
.link {
    color: var(--blue);
    cursor: help;
}
.mt-4px {
    margin-top: 4px;
}
.shadow-inner-top {
    box-shadow: inset 0px 10px 10px -10px rgba(0, 0, 0, 0.25);
}
.trans-bold {
    font-family: "TransSansBold", sans-serif;
}
.trans-semibold {
    font-family: "TransSansSemibold", sans-serif;
}
.search-bar {
    display: inline-block;
    border-bottom: 3px solid var(--blue);
    padding-left: 25px;
    background-color: var(--gray);
}
.search-glass {
    display: inline-block;
    position: absolute;
    margin-top: 3px;
}
.stroke {
    position: relative;
    margin-left: 75px;
    width: 1000px;
    top: 27px;
    z-index: 50;
}
.trans-medium {
    font-family: "TransSansMedium", sans-serif;
}
.white-svg {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(224deg) brightness(120%) contrast(105%);
}
.blue-svg {
    filter: invert(22%) sepia(61%) saturate(2732%) hue-rotate(227deg) brightness(111%) contrast(98%);
}
